
:root{
    /* favorite scheme */
    --green: #417b5aff;
    --yellow: #fff584ff;
    --blue: #4e72b6ff;
    --red: #d8373aff;
    --background: #e4dcdcff;
}
*{
    max-width: 100%;
}

body {
    margin: 0;
    background-color: var(--green);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    background-color: var(--green);
    color: var(--background);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: var(--blue);
    color: var(--yellow);
    border-bottom: 5px solid var(--yellow);
    align-items: center;
}
.logo{
  
    font-weight: bold;
    color: --yellow;  
    letter-spacing: .15em;
}
.navBar {
    display: flex;
    flex-wrap: wrap;
    
}
.navBar h2 {
    color: var(--yellow);
    display: block;
    text-decoration: none;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
}

main h2 {
    color: var(--background);
    margin-left: 5%;

}
main p{
    margin-left: 15%;
    font-size: 120%;
    font-weight: lighter;
}
main div{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    padding: 1%;
}

#mainpic img{
    width: 90%;
    height: 700px; 
    border: 5px solid var(--yellow);
}
#otherpic img{
    width: 30%;
    height: 150%;
    border: 5px solid var(--yellow);
    
}
h3 {
    position: absolute;
    padding-left: 2%;

}

footer {
    border-top: 5px solid var(--yellow);
    align-items: flex-end;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--red);
    color: var(--yellow);
    padding-bottom: 100%;
  }
  
footer a {
    padding-left: 5%;
    padding-right: 5%;
    color: inherit;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
 
  }
